<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yamesoft.ultimateend">
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
                     android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
                     android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <queries>
         <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent>
    </queries>
    
    <application 
        android:name="ultimateend.android.AndroidApplication"
        android:label="UltimateEnd.Android"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:theme="@style/MyTheme.NoActionBar.Fullscreen">
        <activity 
    android:name="ultimateend.android.MainActivity"
    android:label="UltimateEnd"
    android:theme="@style/MyTheme.NoActionBar.Fullscreen"
    android:icon="@drawable/icon"
    android:exported="true"
    android:launchMode="singleTop"
    android:alwaysRetainTaskState="true"
    android:windowSoftInputMode="adjustResize"
    android:configChanges="layoutDirection|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|locale">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="ultimateend.android.GoogleOAuthActivity"
            android:label="OAuth"
            android:exported="true"
            android:launchMode="singleTop"
            android:noHistory="true">
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.yamesoft.ultimateend" 
                      android:path="/oauth2redirect" />
            </intent-filter>
        </activity>
        <service
        android:name=".KeepAliveService"
        android:exported="false"
        android:foregroundServiceType="mediaPlayback" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yamesoft.ultimateend.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
    </application>
</manifest>